snippet main "Abre a funcao main" b
int main(){
	$0;
}
endsnippet


snippet std "Criar o namespace std" b
using namespace std;
$0
endsnippet

snippet ambiente "Ambiente basico CPP" b
#include<iostream>
using namespace std;

int main(){
	$0;
}
endsnippet
